.header {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.header__leaft {
  padding: 46px 0 0 130px;
  width: calc(100% - 730px);
  background: rgba(3, 3, 3, 0.3);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
}
.header__right {
  line-height: 0;
  padding: 45px 0 0 0;
  width: calc(100% - 546px);
}
.header__right-block {
  position: relative;
  display: flex;
  margin-left: 63px;
  width: 539px;
  height: 45px;
}
.header__right__img {
  margin-left: -45em;
  margin-top: 50px;
}
.address {
  margin-top: 17px;
  display: inline-block;
  position: absolute;
  left: 0;
  color: #1B202D;
  text-decoration: none;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}
.address:hover {
  font-size: 20px;
  transition: 1s;
}
.address:hover .address__img {
  clear: both;
  transition: 1s;
  transform: scale(1.2);
}
.address__item {
  vertical-align: middle;
  margin-right: 12px;
}
.preview {
  width: 480px;
}
.preview__text__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 86px;
  line-height: 110%;
  margin: 0;
  margin-top: 26%;
  margin-bottom: 29px;
  height: 285px;
  letter-spacing: 5px;
}
.preview__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  margin: 0;
  line-height: 35px;
  letter-spacing: 0.4px;
}
.tabcontent {
  display: flex;
  margin: 138px auto;
  margin-bottom: 129px;
  height: 308px;
  max-width: 1182px;
  background-color: #F5F6F8;
  border-radius: 20px;
  align-items: center;
}
.tabcontent__item {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  justify-content: space-between;
}
.tabcontent__descr--left {
  height: 93px;
  margin-top: 17px;
}
.tabcontent__descr--right {
  height: 128px;
}
.tabcontent__descr {
  position: relative;
  display: flex;
  max-width: 428px;
  width: 100%;
}
.tabcontent__svg {
  position: absolute;
  top: 17%;
  left: 1%;
}
.tabcontent__svg:hover {
  transform: scale(1.2);
  transition: transform 0.7s;
}
.tabcontent__block {
  position: absolute;
  left: 27%;
}
.tabcontent__header {
  margin: 0;
}
.tabcontent__text {
  margin: 0;
  margin-top: 8px;
}
.tabcontent__border {
  border: 1px solid #CED1D8;
  height: 70px;
  margin: auto 0;
}
.descr {
  margin: 0 auto;
  width: 750px;
  text-align: center;
  margin-bottom: 55px;
}
.descr__title {
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 140%;
  margin: 0 ;
}
.descr__text {
  margin: 0;
  margin-top: 34px;
  font-weight: 400;
  font-size: 22px;
}
.border {
  display: flex;
  justify-content: center;
  height: 50px;
}
.border:hover .border__item {
  transform: scale(1.2);
  width: 60px;
}
.border:hover .border__img {
  height: 60px;
  width: 60px;
  transform: scale(1.2);
  margin: 0 20px;
}
.border__item {
  width: 130px;
  height: 1px;
  background-color: #CED1D8;
  margin: auto 0;
  transition: 1s;
}
.border__img {
  margin: 0 11px;
  width: 50px;
  height: 50px;
  transition: 1s;
}
.info {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: 540px;
}
.info__contact__top {
  position: absolute;
  width: 239px;
  height: 53px;
  right: 0;
  cursor: pointer;
  background-color: #1B202D;
  border-radius: 12px;
}
.info__block {
  position: relative;
  max-width: 630px;
  width: 100%;
  background-color: #F5F6F8;
}
.info__item {
  display: grid;
  position: absolute;
  align-content: center;
  left: 21%;
  top: 24%;
  width: 280px;
  height: 270px;
}
.info__logo {
  position: absolute;
  top: 0;
}
.info__contact {
  display: grid;
  position: absolute;
  max-height: 145px;
  bottom: 0;
}
.info__text {
  text-decoration: none;
  color: #1B202D;
  font-size: 18px;
  height: 20px;
  margin-bottom: 42px;
}
.info__text:hover {
  font-size: 20px;
  transition: 0.5s;
}
.info__text:hover .info__img {
  clear: both;
  transition: 0.5s;
  transform: scale(1.1);
}
.info__text:last-child {
  margin-bottom: 0;
}
.info__text--top {
  position: absolute;
  color: #FFFFFF;
  bottom: 12px;
  left: 30px;
}
.map {
  position: relative;
  width: 810px;
  background-image: url("../icons/basemapp.jpg");
}
.map__flag {
  position: absolute;
  right: 45%;
  top: 26%;
}
.swiper {
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
.swiper__item {
  display: flex;
  padding: 0;
  margin: 55px 0 40px;
}
.swiper-slide {
  min-width: 180px;
  height: 239px;
  background-color: #F5F6F8;
  list-style: none;
  border-radius: 20px;
  transform: rotate(-0.09deg);
  text-align: center;
}
.swiper-slide:last-child {
  margin-right: 0;
}
.swiper__img {
  margin-top: 15px;
}
.swiper__text {
  font-family: 'Onest', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 1px 0 0;
}
.swiper .swiper-wrapper {
  height: 239px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  margin-top: 50px;
}
.arrow__block {
  margin-right: 20px;
  cursor: pointer;
}
.arrow__block:last-child {
  margin-right: 0;
}
.arrow__img--left {
  background: url("../icons/arrow__left.png");
  width: 48px;
  height: 48px;
}
.arrow__img--left:hover {
  background-image: url("../icons/arrow__left__active.png");
}
.arrow__img--right {
  background: url("../icons/arrow__right.png");
  width: 48px;
  height: 48px;
}
.arrow__img--right:hover {
  background-image: url("../icons/arrow__right__active.png");
}
.brands {
  margin: 0 auto;
  margin-bottom: 109px;
  margin-top: 68px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.brands__block {
  margin: 0 auto;
}
.brands--little {
  width: 180px;
  height: 148px;
}
.brands--large {
  width: 280px;
  height: 148px;
}
.brands--mann {
  background-image: url("../icons/mann_filter.png");
}
.brands--wabco {
  background-image: url("../icons/wabco.png");
}
.brands--valeo {
  background-image: url("../icons/valeo.png");
}
.brands--monroe {
  background-image: url("../icons/monroe.png");
}
.brands--fag {
  background-image: url("../icons/fag.png");
}
.brands--cei {
  background-image: url("../icons/cei.png");
}
.brands--euroricambi {
  background-image: url("../icons/euroricambi.png");
}
.brands--luk {
  background-image: url("../icons/luk.png");
}
.brands--kolbenschmidt {
  background-image: url("../icons/kolbenschmidt.png");
}
.brands--cummins {
  background-image: url("../icons/cummins.png");
}
.brands--kmp {
  background-image: url("../icons/kmp_brend.png");
}
.brands--federal {
  background-image: url("../icons/federal_mogus.png");
}
.brands--lema {
  background-image: url("../icons/lema.png");
}
.brands--knorr {
  background-image: url("../icons/knorr_bremse.png");
}
.brands--jost {
  background-image: url("../icons/jost.png");
}
.brands--sachs {
  background-image: url("../icons/sachs.png");
}
.brands--victor {
  background-image: url("../icons/victor_reinz.png");
}
.brands--elring {
  background-image: url("../icons/elring.png");
}
.brands--oe {
  background-image: url("../icons/oe_germany.png");
}
.brands--remy {
  background-image: url("../icons/remy.png");
}
.brands--hengst {
  background-image: url("../icons/hengst.png");
}
.brands--mahle {
  background-image: url("../icons/mahle.png");
}
.brands--miba {
  background-image: url("../icons/miba.png");
}
.brands--saf {
  background-image: url("../icons/saf_holland.png");
}
.brands--nissens {
  background-image: url("../icons/nissens.png");
}
div {
  font-family: 'Onest', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
h2 {
  font-size: 22px;
}
h3 {
  color: #555B69;
}
.index {
  font-size: 14px;
  line-height: 26px;
  min-width: 320px;
  margin: 0 auto;
  background: white;
}
header {
  background-color: #CBCBCB;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
footer {
  background-color: #F5F6F8;
}
.carousel {
  margin-top: 73px;
}

/*# sourceMappingURL=style.css.map */
